spring.application.name=InventoryPro
spring.datasource.url=jdbc:postgresql://
spring.datasource.username=postgres.[YOUR_ID]
spring.datasource.password=[YOUR_DB_PASSWORD]
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=validate

spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migration